@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.topBar {
    display: flex;
    background-color: #4378CA;

    p {
        font-family: 'Righteous', cursive;
        font-size: 40px;
        color: white;
        margin: 20px;
        width:95%;
    }

    .bellIcon {
        writing-mode: vertical-rl;
        text-align:center;
        float:right;
    }
}